:root {
    font-family: sans-serif;
    line-height: 1.4;
    background-color: var(--background-color);
    --dark-mode: 0;
    --background-color: #fff;
    --border-color: #373737;
    --highlight-color: #ffffbe;
    --accent-color: #40A02B;
    --accent-color: oklch(from AccentColor l c h);

    @media (prefers-color-scheme: light) {
        color: #1a1a1a;
    }

    @media (prefers-contrast: more) {
        --border-color: #373737;
    }

    @media (prefers-color-scheme: dark) {
        --dark-mode: 1;
        --background-color: #000;
        --border-color: #606060;
        --highlight-color: #2d2d23;

        @media (prefers-contrast: more) {
            --border-color: #fff;
        }
    }

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

::target-text {
    background-color: var(--highlight-color);
}

main,
header,
footer {
    max-width: 40rem;
    margin: auto;
}

header {
    border-bottom: 1px dotted #808080;
    margin-bottom: 1em;
    font-size: smaller;
}

footer {
    border-top: 1px dotted #808080;
    padding-top: .5em;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: smaller;
}

table {
    border-collapse: collapse;
    border: 1px solid light-dark(
        oklch(from var(--accent-color) 0.7 0.08 h),
        oklch(from var(--accent-color) 0.3 0.08 h)
    );
}

td, th {
    padding: 6px 12px;
}

th {
    font-weight: 700;
    background-color: light-dark(
        oklch(from var(--accent-color) 0.8 0.08 h),
        oklch(from var(--accent-color) 0.2 0.08 h)
    );
}

td {
    border-top: 1px dotted light-dark(
        oklch(from var(--accent-color) 0.6 0.08 h),
        oklch(from var(--accent-color) 0.4 0.08 h)
    );
    background-color: light-dark(
        oklch(from var(--accent-color) 0.9 0.05 h),
        oklch(from var(--accent-color) 0.16 0.05 h)
    );
}

tr:nth-child(2n) td {
    background-color: light-dark(
        oklch(from var(--accent-color) 0.85 0.05 h),
        oklch(from var(--accent-color) 0.2 0.05 h)
    );
}

code {
    /* See: https://www.brunildo.org/test/monospace_fsize.html for why serif is at the end. */
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace, serif;
}

h2 {
    font-size: 1.2em;
    border-bottom: 1px dotted currentColor;
    margin-top: 2rem;
}

h3 {
    font-size: 1em;
}

hr {
    text-align: center;
    font-size: 1.6em;
    border: none;

    &::before {
        content: "⁂";
    }
}

.footnote-definition {
    margin-top: 2rem;
}

.footnote-definition + .footnote-definition {
    margin-top: 0;
    border-top: none;
}

.footnote-definition-label {
    float: left;
    margin-right: 0.5ch;
}

.footnote-definition:target {
    background-color: var(--highlight-color);
}

a {
    color: light-dark(
        oklch(from var(--accent-color) 0.4 c h),
        oklch(from var(--accent-color) 0.9 min(c, 0.3) h)
    );
}

pre {
    overflow-x: auto;
    overflow-y: hidden;
}
