:root {
    font-family: sans-serif;
    line-height: 1.4;
    --border-color: #e7e1da;
    --highlight-color: #ffffbe;

    @media (prefers-color-scheme: light) {
        color: #1a1a1a;
    }

    @media (prefers-contrast: more) {
        --border-color: #373737;
    }

    @media (prefers-color-scheme: dark) {
        --border-color: #2a2a2a;
        --highlight-color: #2d2d23;

        @media (prefers-contrast: more) {
            --border-color: #fff;
        }
    }

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

::target-text {
    background-color: var(--highlight-color);
}

main,
header {
    max-width: 40rem;
    margin: auto;
}

header {
    border-bottom: 1px dotted #808080;
    margin-bottom: 1em;
    font-size: smaller;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid var(--border-color);
    padding: 6px 12px;
}

th {
    font-weight: 700;
}

tr:nth-child(2n) td {
    background-color: var(--highlight-bg);
}

code {
    /* See: https://www.brunildo.org/test/monospace_fsize.html for why serif is at the end. */
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace, serif;
}

h2 {
    font-size: 1.2em;
    border-bottom: 1px dotted currentColor;
    margin-top: 2rem;
}

h3 {
    font-size: 1em;
}

hr {
    text-align: center;
    font-size: 1.6em;
    border: none;

    &::before {
        content: "⁂";
    }
}

.footnote-definition {
    margin-top: 2rem;
}

.footnote-definition + .footnote-definition {
    margin-top: 0;
    border-top: none;
}

.footnote-definition-label {
    float: left;
    margin-right: 0.5ch;
}

.footnote-definition:target {
    background-color: var(--highlight-color);
}
